@import "~antd/lib/style/index";

@offset-xs: 48px;
@offset-sm: 60px;
@offset-md: 80px;
@offset-lg: 110px;
@offset-xl: 150px;
@offset-xxl: 240px;

.container {
  display: flex;
  align-self: center;
  margin: auto;
  width: 90%;
}

.make-container(@minWidth, @maxWidth) {
  @media (min-width: @minWidth) {
    .container {
      max-width: @maxWidth;
    }
  }
}

.make-container(@screen-xs-min, @screen-xs - @offset-xs);
.make-container(@screen-sm-min, @screen-sm - @offset-sm);
.make-container(@screen-md-min, @screen-md - @offset-md);
.make-container(@screen-lg-min, @screen-lg - @offset-lg);
.make-container(@screen-xl-min, @screen-xl - @offset-xl);
.make-container(@screen-xxl-min, @screen-xxl - @offset-xxl);
