@import "./antd.less";

.primary-background {
  background-color: @link-color;

  * {
    color: white !important;
  }
}

header {
  align-items: center;
  justify-content: space-between;
  width: 100%;

  a {
    margin-left: 24px;
    font-size: @heading-4-size;
    opacity: 0.8;
    font-weight: 600;
    transition: opacity 0.1s ease-in-out;

    &.active {
      opacity: 1;
    }

    &:hover {
      opacity: 1;
    }
  }

  .right-section {
    position: relative;

    .social-media {
      position: absolute;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      width: 100%;
      margin-top: 24px;
      z-index: 1;

      &.vertical {
        button {
          margin-bottom: 18px;
        }
      }
    }
  }
}

.bar-menu-button {
  height: 51px !important;
  width: 51px !important;
  padding: 0px !important;
}
#nav-icon3 {
  width: calc(100% - 18px);
  height: calc(100% - 18px);
  margin: 9px 9px;
  position: relative;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  cursor: pointer;
}

#nav-icon3 span {
  display: block;
  position: absolute;
  height: 2.5px;
  width: 100%;
  background: white;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}

/* Icon 3 */

#nav-icon3 span:nth-child(1) {
  top: 0px;
}

#nav-icon3 span:nth-child(2),
#nav-icon3 span:nth-child(3) {
  top: 11px;
}

#nav-icon3 span:nth-child(4) {
  top: 22px;
}

#nav-icon3.open span:nth-child(1) {
  top: 22px;
  width: 0%;
  left: 50%;
}

#nav-icon3.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

#nav-icon3.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

#nav-icon3.open span:nth-child(4) {
  top: 18px;
  width: 0%;
  left: 50%;
}
