@import "./antd.less";

.bg-primary {
  * {
    color: white !important;
  }

  &.color {
    background-color: @link-color;
  }
}

.text-center {
  text-align: center;
}

.font-weight-semi-bold {
  font-weight: 600 !important;
}

.font-weight-bold {
  font-weight: 700 !important;
}

.font-weight-extra-bold {
  font-weight: 900 !important;
}

.left-align-text-section {
  max-width: 100%;
  padding-left: 0px;
}

@media only screen and (min-width: @btLg) {
  .left-align-text-section {
    max-width: 70%;
  }
}

.fixedScroll {
  overflow: hidden;
}

header {
  align-items: center;
  justify-content: space-between;
  width: 100%;

  a {
    margin-left: 24px;
    font-size: @heading-4-size;
    opacity: 0.8;
    font-weight: 600;
    transition: opacity 0.1s ease-in-out;

    &.active {
      opacity: 1;
    }

    &:hover {
      opacity: 1;
    }
  }

  .right-section {
    position: relative;

    .social-media {
      position: absolute;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      width: 100%;
      margin-top: 24px;
      z-index: 1;

      a {
        opacity: 1;
      }

      &.vertical {
        button {
          margin-bottom: 18px;
        }
      }
    }
  }
}

.contact-redirect-section {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1232%26quot%3b)' fill='none'%3e%3cpath d='M113.91 -150.44L268.93 -60.94L268.93 118.06L113.91 207.56L-41.11 118.06L-41.11 -60.94zM423.96 -150.44L578.98 -60.94L578.98 118.06L423.96 207.56L268.93 118.06L268.93 -60.94zM734 386.56L889.02 476.06L889.02 655.06L734 744.56L578.98 655.06L578.98 476.06zM1044.05 386.56L1199.07 476.06L1199.07 655.06L1044.05 744.56L889.02 655.06L889.02 476.06z' stroke='rgba(1%2c 72%2c 65%2c 0.6)' stroke-width='2'%3e%3c/path%3e%3cpath d='M96.01 -150.44 a17.9 17.9 0 1 0 35.8 0 a17.9 17.9 0 1 0 -35.8 0zM251.03 -60.94 a17.9 17.9 0 1 0 35.8 0 a17.9 17.9 0 1 0 -35.8 0zM251.03 118.06 a17.9 17.9 0 1 0 35.8 0 a17.9 17.9 0 1 0 -35.8 0zM96.01 207.56 a17.9 17.9 0 1 0 35.8 0 a17.9 17.9 0 1 0 -35.8 0zM-59.01 118.06 a17.9 17.9 0 1 0 35.8 0 a17.9 17.9 0 1 0 -35.8 0zM-59.01 -60.94 a17.9 17.9 0 1 0 35.8 0 a17.9 17.9 0 1 0 -35.8 0zM406.06 -150.44 a17.9 17.9 0 1 0 35.8 0 a17.9 17.9 0 1 0 -35.8 0zM561.08 -60.94 a17.9 17.9 0 1 0 35.8 0 a17.9 17.9 0 1 0 -35.8 0zM561.08 118.06 a17.9 17.9 0 1 0 35.8 0 a17.9 17.9 0 1 0 -35.8 0zM406.06 207.56 a17.9 17.9 0 1 0 35.8 0 a17.9 17.9 0 1 0 -35.8 0zM716.1 386.56 a17.9 17.9 0 1 0 35.8 0 a17.9 17.9 0 1 0 -35.8 0zM871.12 476.06 a17.9 17.9 0 1 0 35.8 0 a17.9 17.9 0 1 0 -35.8 0zM871.12 655.06 a17.9 17.9 0 1 0 35.8 0 a17.9 17.9 0 1 0 -35.8 0zM716.1 744.56 a17.9 17.9 0 1 0 35.8 0 a17.9 17.9 0 1 0 -35.8 0zM561.08 655.06 a17.9 17.9 0 1 0 35.8 0 a17.9 17.9 0 1 0 -35.8 0zM561.08 476.06 a17.9 17.9 0 1 0 35.8 0 a17.9 17.9 0 1 0 -35.8 0zM1026.15 386.56 a17.9 17.9 0 1 0 35.8 0 a17.9 17.9 0 1 0 -35.8 0zM1181.17 476.06 a17.9 17.9 0 1 0 35.8 0 a17.9 17.9 0 1 0 -35.8 0zM1181.17 655.06 a17.9 17.9 0 1 0 35.8 0 a17.9 17.9 0 1 0 -35.8 0zM1026.15 744.56 a17.9 17.9 0 1 0 35.8 0 a17.9 17.9 0 1 0 -35.8 0z' fill='rgba(1%2c 72%2c 65%2c 0.6)'%3e%3c/path%3e%3cpath d='M109.2 324.21L239.11 399.21L239.11 549.21L109.2 624.21L-20.71 549.21L-20.71 399.21z' stroke='rgba(1%2c 72%2c 65%2c 0.49)' stroke-width='2'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1232'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@media only screen and (max-width: (@btMd - 0.1px)) {
  header {
    img {
      z-index: 3;
    }

    .menu-link-container {
      background-color: @link-color;
      position: fixed;
      left: 0;
      top: 0;
      z-index: 2;
      height: 100vh;
      max-height: 100vh;
      width: 100vw;
      display: flex;
      flex-direction: column;

      div:not(:nth-child(6)) {
        margin-bottom: 18px;

        a {
          color: white;
          font-size: calc(@heading-4-size + 8px);
          padding-bottom: 4px;
          margin-left: 0px;
          border-bottom: 2px solid #a4d6bd;
        }
      }
    }
  }
}

@media only screen and (max-height: 900px) {
  header {
    .menu-link-container {
      div:last-child {
        margin-top: 10px !important;
      }
    }
  }
}

.bar-menu-button {
  height: 51px !important;
  width: 51px !important;
  padding: 0px !important;
  z-index: 3;

  &:focus {
    background-color: @primary-color;
  }
}
.ham-menu-icon {
  width: calc(100% - 18px);
  height: calc(100% - 18px);
  margin: 9px 9px;
  position: relative;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  cursor: pointer;
}

.ham-menu-icon span {
  display: block;
  position: absolute;
  height: 2px;
  width: 100%;
  background: white;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}

/* Icon 3 */

.ham-menu-icon span:nth-child(1) {
  top: 8px;
}

.ham-menu-icon span:nth-child(2),
.ham-menu-icon span:nth-child(3) {
  top: 15.5px;
}

.ham-menu-icon span:nth-child(4) {
  top: 23px;
}

.ham-menu-icon.open span:nth-child(1) {
  top: 23px;
  width: 0%;
  left: 50%;
}

.ham-menu-icon.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

.ham-menu-icon.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.ham-menu-icon.open span:nth-child(4) {
  top: 18px;
  width: 0%;
  left: 50%;
}
